[submodule "antigen"]
	path = antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "ihsec"]
	path = ihsec
	url = https://github.com/daedreth/ihsec.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".ihsec/default/emacs-libvterm"]
	path = .ihsec/default/emacs-libvterm
	url = https://github.com/akermu/emacs-libvterm
[submodule "proof-general"]
	path = .ihsec/default/modules/PG
	url = https://github.com/ProofGeneral/PG
